main {
  height: 100vh;
  display: grid;
  grid-template-areas: 
  "menu   logo    chat"
  "menu   search  chat"
  "menu   feed    chat"
  "foot   foot    foot";
  grid-template-columns: 0.4fr 2.5fr 1fr;
  grid-template-rows: 1fr 1fr 2fr 0.5fr;
  gap: 1em;
}

.menu {
  grid-area: menu;
}

.logo {
  grid-area: logo;
}

.chatbar {
  grid-area: chat;
}

.search {
  grid-area: search;
}

.feed {
  grid-area: feed;
}

.foot {
  grid-area: foot;
}

.menu {
  position: fixed;
  top: 25vh;
  left: 2.5vw;
}

.menu ul{
  list-style: none;
}

.menu-item>svg {
  color: #e03160;
}

.menu-item>a {
  color: #e03160;
}

.bar {
  display: flex;
  padding: 20px 10px;
  width: 4em;
  border-radius: 30px;
  border: 2px solid #31e0b1;
  gap: 2em;
}

.menu .bar {
  box-shadow: #aaa 4px 3px 8px;
  transform: scale(1.15);
}

.menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  color: #e03160;
  box-shadow: #aaa 1px 1px 5px;
  transition: all 0.5s ease;
}

.menu-item:hover {
  box-shadow: #aaa 1px 1px 8px;
  transform: scale(1.1);
  cursor: pointer;
}

.feed {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.feed>h1 {
  font-size: 1.5em;
  color: #e03160;
}

.feed-wrapper {
  height: 40em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 0.3fr;
  gap: 1em;
}

.item-box {
  display: flex;
  flex-direction: column;
  gap: 0.75vh;
  margin-bottom: 2.5vh;
}

.name-span {
  font-size: 1.2rem;
  color: #31e0b1;
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
}

.quiz-details {
  font-size: 0.8rem;
  color: #aaa;
}

.feed-item {
  width: 20vw;
  height: 25vh;
  border: 2px solid #31e0b1;
  border-radius: 1.5em;
  transition: all 0.5s ease;
}

.feed-item:hover {
  transform: scale(1.05);
  box-shadow: #aaa 4px 6px 8px;
  cursor: pointer;
}

.logo {
  margin-top: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo>img {
  width: 35em;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search>.bar {
  width: 50em;
  height: 1em;
  align-items: center;
}

.bar>input {
  width: 100em;
  height: 2em;
  border: none;
  background-color: inherit;
  padding-left: 1em;
  font-size: 1.2em;
}

.bar>input:focus {
  outline: none;
}

.chatbar {
  position: fixed;
  top: 12.5vh;
  right: 2.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: #aaa 4px 3px 8px;
  border-radius: 1.5em;
  overflow: hidden;
}

.chatbar>.box {
  border: 3px solid #31e0b1;
  height: 45rem;
  width: 25rem;
  gap: 0px;
  border-radius: 1.5em;
}

.box>h1 {
  margin-left: 0.5em;
}

.chat-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.write-box {
  width: 98.5%;
  height: 4em;
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
  position: absolute;
  bottom: 0px;
  left: 0px;
  border: #31e0b1 3px solid;
  border-radius: 1.5em;
}

.write-box input {
  outline: none;
  border: none;
  background-color: inherit;
  padding-left: 0.5em;
  height: 100%;
  width: 80%;
}

.write-box .send-message {
  width: 3.5em;
  height: 3.5em;
  border: none;
  background-color: #f5f5f5;
  border-radius: 100%;
  color: #e03160;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.7s ease;
}

.send-message:hover {
  color: #f5f5f5;
  background-color: #e03160;
}

.chat-area {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 0 0.5em;
}

.chat-area .message {
  min-width: 20%;
  max-width: 60%;
  width: auto;
  min-height: fit-content;
  height: 1.25em;
  border-radius: 1.5em;
  display: flex;
  align-items: center;
}

.message .message-text {
  font-weight: 500;
  padding: 0.75em;
  color: #f5f5f5;
}

.sent {
  align-self: flex-end;
  background-image: linear-gradient(135deg, #e03160, #e03160, #31e0b1);
}

.recieved {
  align-self: flex-start;
  background-image: linear-gradient(135deg, #e7e7e7, #e7e7e7, #c2c2c2);
}

.recieved .message-text {
  color: #2f2f2f;
}

.overlay {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #888b;
}

.new-quiz {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 1.5em;
  width: 35vw;
  height: 35vh;
  background-color: #f5f5f5;
  border: 2px solid #31e0b1;
  border-radius: 1.5em;
}

.new-quiz>h2 {
  color: #e03160;
  font-size: 2em;
  margin-left: 0.5em;
}

.new-quiz>.bar {
  width: 70%;
  height: 3%;
  box-shadow: none;
}

.new-quiz input {
  transition: all 0.7s ease;
}

.new-quiz input:focus {
  outline: none;
  transform: scale(1.2);
  box-shadow: 0px 5px 6px #aaa;
}

.new-quiz>button {
  margin-top: 2%;
  width: 30%;
  height: 15%;
  font-size: 1.3em;
  border-radius: 1.5em;
  border: 2px solid #e03160;
  background-color: #f1f1f1;
  color: #e03160;
  font-weight: 500;
  box-shadow: 0px 5px 6px #aaa;
  transition: all 0.7s ease;
}

.new-quiz>button:hover {
  background-color: #e03160;
  color: #f1f1f1;
  transform: scale(1.1);
}

.show {
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot {
  background-color: #e1e1e1;
}