main {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-areas:
  "top  top"
  "side preview";
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
}

.top-bar {
  grid-area: top;
  background-color: #e03160;
  width: 100%;
  height: 6em;
}

.side-bar {
  grid-area: side;
  background-color: #f1f1f1;
  height: 54.05em;
  width: 10em;
  border-right: #777 2px solid;
  transition: all 0.6s ease;
}

.preview-area {
  grid-area: preview;
}

.top-menu  {
  margin: 0px 1.5em; 
  width: 100%;
  gap: 3em;
  justify-content: space-between;
}

.top-menu .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.top-menu>.buttons button{
  border: none;
  border-radius: 0.6em;
  height: 2.5em;
  width: 7em;
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 1.2em;
  font-weight: 500;
  transition: all 0.9s ease;
}

.top-menu>.buttons button:hover {
  transform: scale(1.1);
  font-weight: 600;
  color: #e03160;
  cursor: pointer;
}

.top-menu img {
  width: 12.5em;
}

.top-menu h1 {
  font-size: 2.5rem;
  color: #f1f1f1;
}

a {
  color: #e03160;
}

.side-menu li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6em;
  height: 6em;
  border-radius: 100%;
  gap: 1.5em;
  box-shadow: #aaa 1px 1px 5px;
  transition: all 0.8s ease;
}

.side-menu li:hover {
  width: 14em;
  border-radius: 5em;
  box-shadow: #aaa 1px 1px 8px;
  cursor: pointer;
}

.side-menu img {
  width: 3.5em;
}

.side-menu span {
  display: none;
  transition: all 1s ease;
}

.side-menu li:hover span {
  display: block;
  font-size: 1.3em;
}

.expand {
  width: 15em;
}

.text-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 20%;
}

.text-input {
  border: none;
  width: 100%;
  height: fit-content;
  resize: none;
  outline: none;
  font-size: 1.3rem;
  background-color: #f5f5f5;
}

.text-input:focus {
  border-bottom: 2px solid #31e0b1;
}

.question-div {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.question-text {
  font-size: 1.5rem;
  color: #31e0b1;
  background-color: #f5f5f5;
  outline: none;
  border: none;
  border-bottom: 2px solid #e03160; /* Transformar em um div com uma animação agradável */
}

.question-text::placeholder {
  color: #20dfa088;
}

.options-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.7rem;
}

.radio-option, .checkbox-option {
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f5f5f5;
  transition: all 0.5s ease;
  padding: 0.5em;
}

.radio-option img, .checkbox-option img {
  width: 24px;
}

.bundle {
  border: none;
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.option-text {
  border: none;
  outline: none;
  background-color: #00000000;
  font-size: 1.3rem;
  padding: 0.3em;
}

.add-option {
  font-size: 2rem;
  color: #31e0b1;
  background-color: inherit;
  border: none;
  width: fit-content;
  transition: all 0.7s ease;
}

.add-option:hover {
  transform: scale(1.3);
  cursor: pointer;
}

.correct {
  background-color: #31e0b155;
  border-radius: 1.5em;
}

.trash {
  width: 32px;
  background-color: #ff343433;
  border-radius: 0.3em;
}

.trash:hover {
  cursor: pointer;
}