main {
  height: 100vh;
  display: grid;
  grid-template-areas: 
  "menu   logo    chat"
  "menu   search  chat"
  "menu   feed    chat"
  "foot   foot    foot";
  grid-template-columns: 0.4fr 2.5fr 1fr;
  grid-template-rows: 1fr 1fr 2fr 0.5fr;
  gap: 1em;
}

.menu {
  grid-area: menu;
}

.logo {
  grid-area: logo;
}

.chatbar {
  grid-area: chat;
}

.search {
  grid-area: search;
}

.feed {
  grid-area: feed;
}

.foot {
  grid-area: foot;
}

.menu {
  position: fixed;
  top: 25vh;
  left: 2.5vw;
}

.menu ul{
  list-style: none;
}

.menu-item>svg {
  color: #e03160;
}

.bar {
  display: flex;
  padding: 20px 10px;
  width: 4em;
  border-radius: 30px;
  border: 2px solid #31e0b1;
  gap: 2em;
}

.menu .bar {
  box-shadow: #aaa 4px 3px 8px;
  transform: scale(1.15);
}

.menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  box-shadow: #aaa 1px 1px 5px;
  transition: all 0.5s ease;
}

.menu-item:hover {
  box-shadow: #aaa 1px 1px 8px;
  transform: scale(1.1);
  cursor: pointer;
}

.feed {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.feed>h1 {
  font-size: 1.5em;
  color: #e03160;
}

.feed-wrapper {
  height: 40em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 0.3fr;
  gap: 1em;
}

.feed-item {
  background-color: #f1f1f1;
  border: 2px solid #31e0b1;
  border-radius: 1.5em;
  transition: all 0.5s ease;
}

.feed-item:hover {
  transform: scale(1.05);
  box-shadow: #aaa 4px 6px 8px;
  cursor: pointer;
}

.logo {
  margin-top: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo>img {
  width: 35em;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search>.bar {
  width: 50em;
  height: 1em;
  align-items: center;
}

.bar>input {
  width: 100em;
  height: 2em;
  border: none;
  background-color: inherit;
  padding-left: 1em;
  font-size: 1.2em;
}

.bar>input:focus {
  outline: none;
}

.chatbar {
  position: fixed;
  top: 12.5vh;
  right: 2.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: #aaa 4px 3px 8px;
  border-radius: 1.5em;
}

.chatbar>.box {
  border: 3px solid #31e0b1;
  height: 45rem;
  width: 25rem;
  gap: 0px;
  border-radius: 1.5em;
}

.box>h1 {
  margin-left: 0.5em;
}

.chat-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chat-contact {
  width: 100%;
  height: 4em;
  border-left: 2px solid #31e0b1;
  border-right: 2px solid #31e0b1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  transition: all 0.5s ease;
}

.chat-contact:hover {
  background-color: #e1e1e1;
  cursor: pointer;
}

.chat-contact>span {
  text-align: center;
  font-size: 1.5em;
  font-weight: 450;
}

.contact-picture {
  border: 1px solid #e03160;
  border-radius: 100%;
  height: 2.5em;
  width: 2.5em;
  margin-right: 1em;
  margin-left: 0.5em;
}

.overlay {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #888b;
}

.new-quiz {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 1.5em;
  width: 35vw;
  height: 30vh;
  background-color: #f5f5f5;
  border: 2px solid #31e0b1;
  border-radius: 1.5em;
}

.new-quiz>h2 {
  color: #e03160;
  font-size: 2em;
}

.new-quiz>.bar {
  width: 70%;
  height: 3%;
  box-shadow: none;
}

.new-quiz>button {
  margin-top: 2%;
  width: 30%;
  height: 15%;
  font-size: 1.3em;
  border-radius: 1.5em;
  border: 2px solid #e03160;
  background-color: #f1f1f1;
  color: #e03160;
  font-weight: 500;
  box-shadow: 0px 5px 6px #aaa;
  transition: all 0.7s ease;
}

.new-quiz>button:hover {
  background-color: #e03160;
  color: #f1f1f1;
  transform: scale(1.1);
}

.show {
    display: flex;
    justify-content: center;
    align-items: center;
}